<%- include("../../partials/head.ejs") %>
<form action="/editar_cliente/<%cliente.id%>" method="post">
    <input type="hidden" name="id" value="<%=cliente._id%>">
    <div class="mb-3">
      <label for="" class="form-label">Cedula</label>
      <input type="number" class="form-control"  name="cedula" value="<%=cliente.cedula%>">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" value="<%=cliente.nombre%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="telefono" value="<%=cliente.telefono%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ubicacion</label>
        
        <input type="number" class="form-control" name="latitud"  placeholder="latitud" value="<%=cliente.ubicacion.latitud%>">
        <input type="number" class="form-control" name="longitud"  placeholder="longitud" value="<%=cliente.ubicacion.longitud%>">
        <input type="number" class="form-control" name="zoom"  placeholder="zoom" value="<%=cliente.ubicacion.zoom%>">
    
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Total Comprado</label>
        <input type="number" class="form-control" name="totalComprado" value="<%=cliente.totalComprado%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Historial Compras</label>
        <input type="text"  class="form-control"  name="historialCompras" value="<%=cliente.historialCompras%>">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
    <a href="/eliminar_cliente/<%=cliente._id%>" class="btn btn-warning">Eliminar</a>
<%- include("../../partials/footer.ejs") %>