<%- include("../../partials/head.ejs") %>

<form action="/vendedor/editar" method="post">
  <input type="hidden" name="id" value="<%=vendedor._id%>">
    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text" class="form-control"  name="nombre" value="<%=vendedor.nombre%>">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Cedula</label>
      <input type="text" class="form-control" name="cedula" value="<%=vendedor.cedula%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ventas Hechas</label>
        <input type="text" class="form-control" name="ventasHechas" value="<%=vendedor.ventasHechas %>">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/vendedor/eliminar/<%=vendedor._id%>" class="eliminar btn btn-danger">Eliminar</a>


<%- include("../../partials/footer.ejs") %>