<%- include("../../partials/head.ejs") %>
<form action="/cliente/editar/<%cliente.id%>" method="post">
    <input type="hidden" name="id" value="<%=cliente._id%>">
    <div class="mb-3">
      <label for="" class="form-label">Cedula</label>
      <input type="number" class="form-control"  name="cedula" value="<%=cliente.cedula%>">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" value="<%=cliente.nombre%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="telefono" value="<%=cliente.telefono%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ubicacion</label>
        
        <input type="number" class="form-control" name="latitud"  placeholder="latitud" value="<%=cliente.ubicacion.latitud%>">
        <input type="number" class="form-control" name="longitud"  placeholder="longitud" value="<%=cliente.ubicacion.longitud%>">
        <input type="number" class="form-control" name="zoom"  placeholder="zoom" value="<%=cliente.ubicacion.zoom%>">
    
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Total Comprado</label>
        <input type="number" class="form-control" name="totalComprado" value="<%=cliente.totalComprado%>">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Historial Compras</label>
        <input type="text"  class="form-control"  name="historialCompras" value="<%=cliente.historialCompras%>">
        <br>
        <button class="btn btn-outline-success btn-sm">Cargar</button>
    </div>
    
    <input type="submit" class="btn btn-primary"></input>
</form>

    <a href="/cliente/eliminar/<%=cliente._id%>" class="eliminar btn btn-danger">Eliminar</a>
    <script>
        function saludar(){
            alert("hola")
        }
    </script>
<%- include("../../partials/footer.ejs") %>