<%- include("../../partials/head.ejs") %>

<br>
<a href="/crear_venta" class="btn btn-primary">Agregar Venta</a>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Serie</th>
            <th scope="col">Productos Vendidos</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Fecha Venta</th>
            <th scope="col">Impuesto</th>
            <th scope="col">Total Venta</th>
            <th scope="col">Cliente</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            <% ventas.forEach((venta)=>{ %>
                <tr>
                <td><%=venta._id %></td>
                <td><%=venta.serie %></td>
                <td>
                    <% venta.productosVendidos.forEach((producto)=>{ %>
                        <label><%= producto %></label>
                    <% }) %>
                </td>
                <td><%=venta.subtotal %></td>
                <td><%=venta.fechaVenta %></td>
                <td><%=venta.impuesto %></td>
                <td><%=venta.totalVenta %></td>
                <td><%=venta.cliente %></td>
                <td><%=venta.vendedor %></td>
                <td>
                    <button onclick="buscarDato()" data-id="<%=venta.id %>" class="update btn btn-warning">Editar</button>
                </td>
            </tr>
            <% }) %>
        
    </tbody>
</table>
<script>
    
    async function buscarDato(){
    const buttonUpdate = document.querySelector(".update")
    const idButton = buttonUpdate.dataset.id;
    try {
        location.href = `/editar_venta/${idButton}`
    } catch (error) {
      console.log("error: "+error)  
    }
    }
</script>

    <%- include("../../partials/footer.ejs") %>