<%- include("../../partials/head.ejs") %>

<br>
<a href="/vendedor/crear" class="btn btn-primary">Agregar Vendedor</a>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ventas Realizadas</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            <% vendedores.forEach((vendedor)=>{ %>
                <tr>
                <td><%=vendedor._id %></td>
                <td><%=vendedor.cedula %></td>
                <td><%=vendedor.nombre %></td>
                <td>
                    <% vendedor.ventasHechas.forEach((venta)=>{ %>
                        <label><%= venta %></label>
                    <% }) %>
                </td>
                <td>
                    <a href="/vendedor/editar/<%=vendedor._id%>" class="update btn btn-warning">Editar</a>
                </td>
            </tr>
            <% }) %>
        
    </tbody>
</table>



    <%- include("../../partials/footer.ejs") %>

<%- include("../../partials/footer.ejs") %>
