<%- include("../../partials/head.ejs") %>

<br>
<a href="/producto/crear" class="btn btn-primary">Crear Producto</a>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Referencia</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            <% productos.forEach((producto)=>{ %>
                <tr>
                <td><%=producto._id %></td>
                <td><%=producto.referencia %></td>
                <td><%=producto.nombre %></td>
                <td><%=producto.descripcion %></td>
                <td><%=producto.precio %></td>
                <td><%=producto.stock %></td>
                <td>
                    <a href="/producto/editar/<%=producto._id %>" class="update btn btn-warning">Editar</a>
                </td>
                
            </tr>
            <% }) %>
        
    </tbody>
</table>



    <%- include("../../partials/footer.ejs") %>

<%- include("../../partials/footer.ejs") %>
